:root {
    --1: #3c3c3c;
    --2: #f0f0f0;
    --3: #cf3535;
    --4: #9b9b9b;
    --5: #4bb953;
    --6: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
}

body {
    background-color: var(--1);
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.container-text {
    word-wrap: break-word;
}

.container-text h1 {
    color: var(--2);
}

.container-text h2 {
    margin-top: 30px;
    /* font-size: 20px; */
    /* font-size: 1.6em; */
    color: var(--6);
}

.container-buttons {
    width: 100%;
    margin-top: 50px;
    /* font-size: small; */
}

.container-buttons button {
    /* font-size: 30px; */
    border-radius: 10px;
    padding: 4px 10px;
    margin: 10px 20px;
    font-weight: bold;
}

.container-buttons button:nth-child(1):hover {
    border: 2px solid var(--3);
    color: var(--3);
}

.container-buttons button:nth-child(2):hover {
    border: 2px solid var(--4);
    color: var(--4);
}

.container-buttons button:nth-child(3):hover {
    border: 2px solid var(--5);
    color: var(--5);
}

/* sm */
@media (width <=640px) {
    .container-text h1 {
        font-size: 70px;
    }

    .container-text h2 {
        font-size: 36px;
    }

    .container-buttons button {
        font-size: 10px;
    }
}

/* md */
@media (640px < width <=768px) {
    .container-text h1 {
        font-size: 100px;
    }

    .container-text h2 {
        font-size: 56px;
    }

    .container-buttons button {
        font-size: 20px;
    }
}

/* lg */
@media (768px < width <=1010px) {
    .container-text h1 {
        font-size: 120px;
    }

    .container-text h2 {
        font-size: 76px;
    }

    .container-buttons button {
        font-size: 25px;
    }
}

/* xl */
@media (1010px < width <=1400px) {
    .container-text h1 {
        font-size: 140px;
    }

    .container-text h2 {
        font-size: 96px;
    }

    .container-buttons button {
        font-size: 30px;
    }
}

/* 2xl */
@media (width > 1400px) {
    .container-text h1 {
        font-size: 160px;
    }

    .container-text h2 {
        font-size: 116px;
    }

    .container-buttons button {
        font-size: 35px;
    }
}